body{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}
.heading{
  background-color: rgb(26, 44, 44);
  height: 100vh;
  color: aliceblue;
  border-color: black;
  font-size: 35px;
}

section{
  background-color: rgb(13, 13, 37);
  width: 100vhpx;
  border: solid 2px;
}

footer{
  height: 500px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;

}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 29px;
  width: 500px;
}

h1 {
  margin: 0;
  font-weight: 400;

}

p {
  margin: 0;
}

h1{
  font-size: 80px;
}

h2{
  font-size: 40px;
  font-weight: 490;
}

li {
  width: 400px;

}

.heading-2{
  margin-left: 45px;
}

.button {
  width: 170px;
  height: 50px;
  border-radius: 35px;
  background-color: blue;
  text-align: center;
  /* margin-left: 45px; */
  margin-top: 18px;

}
.button:hover{
  background-color: rgb(7, 38, 71);
  cursor: pointer;
}

.button:active{
  background-color: rgb(70, 3, 45);
  color: rgb(50, 58, 6);
}

.heading-area{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

}
.socials{
  padding-bottom: 20px;
}
.soc{
  margin: 4px;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px;
}
.logo{
  height: 70px;
  margin: 28px;
}

.social{
  margin: 30px;
  border-bottom: 90px;
  cursor: pointer;

}

.sub-section{
  display: flex;
  justify-content: space-around;
  padding: 90px;
  color: white;
  border-color: black;
  font-size: 30px;

}
.pic{
  border-radius: 200px;
  
}

.project-card{
  width: 200px;
  height: 500px;
  border: 2px solid white;
}




  
